<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product <%=productDetail.name %></title>
  </head>
  <body>
    <h1>Product detail</h1>

    <section>
      <ul>
        <li>
          <p>
            Product: <%=productDetail.name %> -
            <b><%= productDetail.price %></b>
          </p>
        </li>

        <li>
          <p>Category: <%=productDetail.category %></p>
        </li>

        <a href="/product">Back to List</a>

        <br />

        <!-- delete -->
        <form
          action="/product/<%=productDetail.id %>?_method=DELETE"
          method="POST"
        >
          <button>Delete!</button>
        </form>
      </ul>
    </section>
  </body>
</html>
